{% extends "base.html" %}

{% block content %}

<head>

<script type = 'text/javascript'>
function sort(option) {
	var table = document.getElementById("rtable");
	var tableArray = [];
	for(i=1;i<table.rows.length;i++) {
		var row = [];
		for(j=0;j<table.rows[i].cells.length;j++){
			row.push(table.rows[i].cells[j].innerHTML)
		}
		tableArray.push(row);
	}
	
		tableArray = tableArray.sort(function(x,y) { return x[option] > y[option];});
	
	for(i=1;i<table.rows.length;i++){
		for(j=0;j<table.rows[i].cells.length;j++){
			document.getElementById('rtable').rows[i].cells[j].innerHTML = tableArray[i-1][j]
			//alert(document.getElementById('theTable').rows[i].cells[j]);
			//alert(tableArray[i][j]);
		}
	}
}
</script>
</head>
<body>

<form action = "/SecureWitness/search/" method = "get">
	Search term:<input type = "text" name = "q">
	<input type = "submit" value = "Search">
</form> <br />

<input type='button' name='sort' id='0' onclick = 'sort(0)' value = 'Sort by RID'>
<input type='button' name='sort' id='1' onclick = 'sort(1)' value = 'Sort by Date'>
<input type='button' name='sort' id='1' onclick = 'sort(2)' value = 'Sort by Description'>
{% if reports %}

    <ul>
	<table id='rtable' border = '1'>
		<tr><td>RID</td><td>Date of Incident</td><td>Report Description</td></tr>
        {% for report in reports %}
        <tr><td><a href="http://localhost:8000/SecureWitness/getreport/?rid={{report.report_id }}">{{report.report_id }}</a></td><td>{{ report.incident_date }}</td>
		<td>{{ report.short_desc }}</td></tr>
        {% endfor %}
	</table>
    </ul>
{% else %}
    <p>No reports.</p>
{% endif %}
</body>

{% endblock %}