<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}templates/base.html{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
    <ul>
        <li><a href="/SecureWitness/account/login">Home</a></li>

        <!-- TODO Add other home buttons, etc. to this header -->
        {% if user.is_authenticated %}
            <li><a href="/SecureWitness/account/logout">Logout</a></li>
        {% else %}
            <li><a href="/SecureWitness/account/login">Login</a></li>
        {% endif %}
		
		<li><a href="/SecureWitness/map">Map</a></li>
    </ul>
    {% endblock %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>