{% extends "base.html" %}

{% block content %}
    <p>Click <a href="/SecureWitness/account/logout/">here</a> to logout. </p>
    <p>Click <a href="/SecureWitness/account/loggedin/">here</a> to go back. </p>

    <h2>{{report_name}}</h2>

    <!-- Rename the report -->
    <form action="rename/" method="post">
        {% csrf_token %}

        <label for="new_name">Rename this report:</label>
        <input type="text" name="new_name" value="{{ report_name }}" id="new_name">
        <input type="submit" value="Rename"/>
    </form>
    <br />

    <!-- Copy the report -->
    <form action="copy/" method="post">
        {% csrf_token %}

        <label for="copy_report">Copy this report:</label>
        <input type="submit" value="Copy"/>
    </form>

    <br />

    <!-- Show and change the group -->
    <form action="change_group/" method="post">
        {% csrf_token %}

        <label for="new_group_name">Group: </label>
        <input type="text" name="new_group_name" value="{{ group_name }}" id="new_group_name">
        <a href="../../{{ group_id }}">Link</a>
        <input type="submit" value="Change"/>
    </form>

    <br />

    <!-- Show and change the folder -->
    <form action="change_folder/" method="post">
        {% csrf_token %}
        <label for="new_folder_name">Folder: </label>
        <input type="text" name="new_folder_name" value="{{ folder_name }}" id="new_folder_name">
        <a href="../../../folders/{{ folder_id }}">Link</a>
        <input type="submit" value="Change"/>
    </form>

    <br />

    <!-- TODO Show other info for the report -->

    <br />

    <!-- TODO Remove the report -->
    <form action="remove/" method="post">
        {% csrf_token %}

        <label for="remove_report">Remove this report: </label>
        <input type="submit" value="Remove"/>
    </form>

{% endblock %}