{% extends "base.html" %}

{% block content %}

    <p>All private files you have: </p>
        <div style="height:120px;width:240px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
            {% if priFiles %}
                <ul>
                {% for f in priFiles %}
                    <li>{{f}}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No private files available.</p>
            {% endif %}

        </div>


{% endblock %}