{% extends "base.html" %}

{% block content %}

    <h2>Hi {{full_name}} you are now logged in!</h2>
{#    {% if {{  }} %}#}

    <p>Click <a href="/SecureWitness/account/logout/">here</a> to logout. </p>
    <p></p>

    <!--Todo: report creation and administration/-->
    <p>Click <a href="/SecureWitness/newreport/">here</a> to create a report. </p>

    <!--todo: label the groups owned by this user -->
        <!--display groups related to this user-->
    <p>The groups you are affiliated to: </p>

    {% if groups %}
        <p>Found {{ groups|length }} groups.</p>
        <ul>
            {% for group in groups %}
                <li>Group ID:{{ group.id }}   <a href="{% url 'member_edit_group' group.id%}" >{{ group }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No group found.</p>
    {% endif %}

    <p>Grant access to your private files to any group above.</p>
    <form action="../loggedin/grant_access_to_files/" method="post">{% csrf_token %}
        <label for="report_id">Enter the ID of report you want to share with the group: </label>
        <input type="text" name="report_id" value="" id="report_id">
        <label for="group_id">Enter the ID of group you want to share with: </label>
        <input type="text" name="group_id" value="" id="group_id">

        <input type="submit" value="OK"/>
    </form>

    <br />
    <p>Quit from a group above.</p>
    <form action="../loggedin/quit_group/" method="post">
        {% csrf_token %}
        <label for="group_id">Enter the id of group you want to quit from: </label>
        <input type="text" name="group_id" value="" id="group_id">

        <input type="submit" value="OK"/>
    </form>


    <br />

    <p><a href="/SecureWitness/account/folders/new_folder/">Add a new folder</a></p>

    <!--display reports related to this user-->
    <p>Edit reports you created: </p>

    {% if reports %}
        <ul>
            {% for report in reports %}
                {% if report.private %}
                    <li>({{ report.report_id }})<a href="/SecureWitness/account/loggedin/reports/{{ report.report_id }}">{{ report.short_desc }} </a> by {{ report.author }} ------> Private</li>
                {% else %}
                    <li>({{ report.report_id }})<a href="/SecureWitness/account/loggedin/reports/{{ report.report_id }}">{{ report.short_desc }} </a> by {{ report.author }} ------> Public</li>
                {% endif %}


            {% endfor %}
        </ul>
    {% else %}
        <p>No report found.</p>
    {% endif %}


{% endblock %}