<html>
    <head></head>
    <body>
        <h1>{{ group.group_name }}</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form>
            {% csrf_token %}
            <ul>
                {% for user in group.usertogroup_set.all %}
                    <li>{{ user.user_id }} {{ user.user_id.username }} {% if user.leader %}<strong>&nbsp;&nbsp;&nbsp;
                        Leader</strong>{% endif %}</li>
                {% endfor %}
            </ul>
        </form>

        <p>If you wish to join {{ group.group_name }}, please email one of the leaders below.</p>

        <form>
            {% csrf_token %}
            <ul>
                {% for user in group.usertogroup_set.all %}
                    {% if user.leader %}
                        <li>{{ user.user_id.username }}&nbsp;&nbsp;&nbsp;<a href="mailto:{{ user.user_id.email }}">
                            {{ user.user_id.email }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </form>

    </body>
</html>